~/AppData/Roaming/GitPad/GitPad.exe
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
.fuse_hidden*
old/

#tex temp files
*.aux
*.blg
*.lof
*.log
*.lot
*.toc
*.*~
*.synctex.gz
~/AppData/Roaming/GitPad/GitPad.exe

powtec.pdf
Thumbs.db
Tesi.*
Tesi.pdf
*.aux
*.log
*.spl
/tmp/
*-eps-converted-to.pdf
main.fff
*.eps
*.pdf
*.png
*.tif
*.jpg
/main.ttt
main.ttt
*.zip
*.fff

phdThesis/Tesi.run.xml
phdThesis/tmp/*
phdThesis/Tesi.pdf
phdThesis/Tesi.synctex.gz

# ignore all temp files of latex
*.aux
*.toc
*.log
*.lot
*.lof
*.nlo
*.nls
*.nlg
*.fls
*.fdb_latexmk
*.blg
*.bak
*.out
*.ilg
*.bbl

# ignore the auto-saved files
*~

# ignore pdf, ps and dvi
*.pdf
*.ps
*.dvi

# ignore texmaker stuff
*.synctex.gz

/tmp/
/ACMSigArticle/
