/tmp/
/document.pdf
*.pdf
*.jpg
powtec.pdf
Thumbs.db
*.aux
*.log
*.spl
/tmp/
*-eps-converted-to.pdf
main.fff
*.eps
*.pdf
*.png
*.tif
*.jpg
/main.ttt
*.zip
*.synctex.gz
Articolo-blx.bib
/Articolo.run.xml

# ignore all temp files of latex
*.aux
*.toc
*.log
*.lot
*.lof
*.nlo
*.nls
*.nlg
*.fls
*.fdb_latexmk
*.blg
*.bak
*.out
*.ilg
*.bbl

# ignore the auto-saved files
*~

# ignore pdf, ps and dvi
*.pdf
*.ps
*.dvi

# ignore texmaker stuff
*.synctex.gz

/tmp/
